* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #000;
  color: aliceblue;
  font-family: sans-serif;
}
p {
  font-size: 3rem;
}

.js {
  color: yellow;
}

.type-text {
  color: #20c20e;
}

.cursor {
  background: #20c20e;
}
